body {
    margin: 0;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* form styling */

form {
    width: 300px;
    margin: 50px auto;
}

input,
select,
textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(197, 182, 182);
}

textarea {
    resize: vertical;
}

form div {
    margin-bottom: 15px;
}

form label {
    font-weight: 500;
}

form button {
    background-color: orangered;
    padding: 8px 20px;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    float: right;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(255, 166, 0);
    transition: 0.5s;
}


.form{
    display: flex;
    column-gap: 40px;
}

.container{
    display: flex;
    flex-direction: row;
    padding: 200px;
}

@media only screen and (max-width: 900px){
    .container {
    flex-direction: column;
    padding: 200px;
    }
}
@media only screen and (max-width: 900px){
.container{
    flex-direction: column;
    padding: 0;
    }
}



