body {
    margin: 0;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* navbar */
nav {
    display: flex;
    justify-content: space-between;
    background-color: #e83f10;
    padding: 0 80px;
    align-items: center;
}

nav .left ul {
    display: flex;
    align-items: center;
    padding: 0;
}

nav .left ul img {
    margin-right: 40px;
}

nav .left ul li a {
    color: rgb(146, 255, 12);
    text-decoration: none;
    font-weight: 800;
}

nav .left ul .active a {
    font-weight: bold;
    color: rgb(179, 255, 0);
}

nav .right a {
    text-decoration: none;
    background-color: orangered;
    padding: 8px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 800;
}

nav .left ul li {
    list-style-type: none;
    margin-right: 25px;
}

.logo {
    width: 60px;
}

.container {
    display: flex; 
    flex-direction: row; 
    padding: 200px;
}

body {
    margin: 0;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.btn-hamburger{
    display: none;
}

.hamburger-container {
    display: none;
    list-style-type: none;
    background-color: grey;
}


@media only screen and (max-width: 900px){
    .container {
    flex-direction: column;
    padding: 200px;
    }
}
@media only screen and (max-width: 900px){
.container{
    flex-direction: column;
    padding: 0;
    }
}


@media only screen and (max-width : 500px) {
.left ul li {
    display: none;
}
.right a{
    display: none;

}
.btn-hamburger{
    display: block;
}

}